@charset "utf-8";

@font-face {
	font-family: 'Glacial Indifference';
    src: url('fonts/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('fonts/GlacialIndifference-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

*, ::after, ::before {
  box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 1.8rem;
	color: #2c2c2c;
}

/* ===============================
   Header
   =============================== */
header {
	font-family: 'Glacial Indifference';
	background-color: #000;
	padding: 2rem 0;
}

.header-container {
	max-width: 1100px;
	margin: 0 auto;
}

.header-menu {
	display: flex;
	justify-content: space-between;

}

.header-menu > img {
	display: block;
	width: 7rem;
	height: 4rem;
}

.header-menu-list {
	list-style: none;
	display: flex;
}

.header-menu-list li {
	padding: .5rem 0 0 0;
}

.header-menu-list a {
	text-decoration: none;
	padding: 0 0 0 4rem;
	color: #fff;
	transition: all .3s;
}

.header-menu-list a:hover {
	opacity: 0.5;
}

/* ===============================
   Hero Section
   =============================== */
.hero-container {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.hero-container > img {
	display: block;
	width: 45rem;
	margin: 5rem 0 0 0;
}

.introduction {
	padding: 18rem 0 0 3rem;
}

.introduction > h1 {
	font-family: 'Glacial Indifference';
	font-size: 4.8rem;
}

.job-title {
	margin: .8rem 0 0 0;
	color: #dd786e;
	font-size: 2.4rem;
}

.bio {
	line-height: 1.6;
	padding: 3rem 2rem 0 0;
}

/* ===============================
   Footer
   =============================== */
footer {
	font-family: 'Glacial Indifference';
	padding: 2rem 0;
	background-color: #f8f8f8;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	bottom:0;
}

.footer-container {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.share-icon-list {
	list-style: none;
	display: flex;
}

.share-icon-list li {
	padding: 0 0 0 1.5rem;
}

.share-icon-list a {
	font-size: 2.4rem;
	color: #757575;
	padding: 0 0 0 1.5rem;
	transition: all .3s;
}

.share-icon-list a:hover {
	opacity: 0.5;
}

.footer-container > small {
	display: block;
	color: #757575;
	font-size: 1.8rem;
	padding: .3rem 0 0 0;
}