*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
p,
figure,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 10px;
}

:root {
  --color-primary-darkest: #3E3454;
  --color-primary-dark: #9B83B8;
  --color-primary-light: #D1BFE8;
  --color-text-dark: #27232C;
  --color-text-light: #4A4453;
  --color-lightest: #fff;
  --font-base: "Inter", "IBM Plex Sans JP", sans-serif;
  --font-heading: "Playfair Display", sans-serif;
  --font-size-base: 1.8rem;
  --font-size-sm: 1.6rem;
  --container-width: 1040px;
}

body {
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  color: var(--color-text-dark);
  background: var(--color-lightest);
}

.container {
  width: 100%;
  max-width: min(100% - 48px, var(--container-width));
  margin: 0 auto;
}

.section {
  padding: 8rem 0;
}
@media (max-width: 768px) {
  .section {
    padding: 6.4rem 0;
  }
}
.section--last {
  padding: 8rem 0 16rem;
}
@media (max-width: 768px) {
  .section--last {
    padding: 6.4rem 0 12.8rem;
  }
}

body {
  line-height: 1.6;
}

.hero__tagline-en {
  display: block;
  font-size: 3.6rem;
  font-family: var(--font-heading);
}
.hero__tagline-jp {
  display: block;
  font-size: 2.2rem;
  font-weight: normal;
}
.hero__detail {
  margin: 1.6rem 0 0 0;
  color: var(--color-text-light);
}
.hero__about {
  margin: 4.8rem 0 0;
}
.hero__contact {
  padding: 2.4rem 0 0;
}

.projects__title {
  font-size: var(--font-size-base);
  margin: 0 0 0.8rem;
}

.contact__tagline {
  font-size: var(--font-size-base);
}

.features__list > dt {
  font-size: var(--font-size-base);
}
.features__list > dt > .fa-square-check {
  color: var(--color-primary-dark);
  margin: 0 0.4rem 0 0;
}
.features__list > dd {
  font-size: var(--font-size-sm);
  margin: 0 0 2.4rem 2.7rem;
  color: var(--color-text-light);
}
.features__list > dd:last-child {
  margin: 0 0 0 2.7rem;
}

.header {
  padding: 2.4rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .header {
    padding: 1.6rem 0;
    position: relative;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: bold;
}
.header__menu {
  display: flex;
  gap: 6rem;
}
@media (max-width: 768px) {
  .header__menu {
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 7.14rem;
    left: 0;
    right: 0;
    background: var(--color-lightest);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
    transition: clip-path 0.3s ease, opacity 0.3s ease;
  }
  .header__menu.is-open {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

.language {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: var(--font-size-sm);
  position: relative;
}
@media (max-width: 768px) {
  .language {
    padding: 1.8rem 2.4rem 1.8rem 0;
    justify-content: end;
  }
}
.language__link {
  transition: color 0.3s ease;
}
.language__link:hover {
  color: var(--color-primary-dark);
}
.language__link--active {
  color: var(--color-primary-dark);
  border-bottom: 1px solid var(--color-primary-dark);
}

@media (max-width: 768px) {
  .navigation {
    width: 100%;
  }
}
.navigation__list {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}
@media (max-width: 768px) {
  .navigation__list {
    display: block;
    gap: 0;
  }
}
@media (max-width: 768px) {
  .navigation__item {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.navigation__link--dark {
  transition: color 0.3s ease;
}
@media (max-width: 768px) {
  .navigation__link--dark {
    display: flex;
    justify-content: center;
    padding: 1.8rem 0;
    width: 100%;
    transition: all 0.3s ease;
  }
}
.navigation__link--dark.active {
  color: var(--color-primary-dark);
}
@media (max-width: 768px) {
  .navigation__link--dark.active {
    background-color: rgba(155, 131, 184, 0.1);
  }
}
.navigation__link--dark:hover {
  color: var(--color-primary-dark);
}
@media (max-width: 768px) {
  .navigation__link--dark:hover {
    background-color: rgba(155, 131, 184, 0.1);
  }
}
.navigation__link--light {
  transition: opacity 0.3s ease;
}
.navigation__link--light:hover {
  opacity: 0.7;
}

.hero {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.6rem;
}
@media (max-width: 768px) {
  .hero__inner {
    flex-direction: column;
  }
}
.hero__figure {
  width: 32rem;
}
.hero__portrait {
  width: 100%;
  min-width: 32rem;
}
.hero__introduction {
  width: 100%;
}
.hero__name {
  font-size: 2rem;
  display: block;
  font-weight: bold;
  color: var(--color-text-light);
}
.hero__activity {
  display: block;
  margin: 0.2rem 0 0;
  color: #7a7883;
}
.hero__btn {
  padding: 0.8rem 2.4rem;
}

.projects {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.projects__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.6rem;
}
@media (max-width: 768px) {
  .projects__inner {
    flex-direction: column;
  }
}
.projects__title {
  font-size: 3.6rem;
  font-family: "Playfair Display";
}
.projects__tagline {
  margin: 0.4rem 0 0;
}
.projects__explore {
  margin: 3.2rem 0 0;
}
.projects__explore .fa-github {
  font-size: 2rem;
  margin: 0 0.4rem 0 0;
}
.projects__figure {
  width: 100%;
  max-width: 40rem;
}
@media (max-width: 768px) {
  .projects__figure {
    max-width: none;
  }
}
.projects__description {
  width: 100%;
}
.projects__portfolio {
  width: 100%;
  min-width: 40rem;
}
.projects__btn {
  padding: 0.8rem 2.4rem;
}

.selected-projects__title {
  font-family: var(--font-heading);
  font-size: 2.8rem;
  margin: 0 0 4rem;
}
@media (max-width: 768px) {
  .selected-projects__title {
    margin: 0 0 4.8rem;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-lightest);
  transition: 0.3s opacity ease;
}
.btn:hover {
  opacity: 0.8;
}
.btn-primary {
  background-color: var(--color-primary-dark);
}
.btn-github {
  background-color: #000;
}
.btn-menu {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .btn-menu {
    display: block;
  }
}
.btn-bar {
  display: block;
  width: 2.4rem;
  height: 0.2rem;
  border-bottom: 0.2rem solid var(--color-text-light);
}
.btn-bar:nth-child(2) {
  margin: 0.6rem 0 0;
}
.btn-bar:nth-child(3) {
  margin: 0.6rem 0 0;
}

.card {
  max-width: 32rem;
  min-width: 32rem;
  width: calc(33.3333333333% - 8rem);
  flex: 1;
}
@media (max-width: 1102px) {
  .card {
    width: calc(50% - 4rem);
    max-width: 49.95rem;
  }
}
@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 1102px) {
  .card--hide {
    display: none;
  }
}
@media (max-width: 768px) {
  .card--hide {
    display: block;
  }
}
.card__link {
  display: block;
  transition: 0.3s opacity ease;
  position: relative;
}
.card__link::before {
  content: "\f054";
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  position: absolute;
  bottom: 0.8rem;
  right: 1.6rem;
  color: var(--color-primary-dark);
  font-size: 2.4rem;
  opacity: 0;
  transition: opacity 0.3s ease, right 0.3s ease;
}
.card__link:hover {
  opacity: 0.7;
}
.card__link:hover::before {
  opacity: 1;
  right: 0.8rem;
}
.card__detail {
  margin: 0;
  font-size: var(--font-size-sm);
  color: #7a7883;
  word-break: break-all;
}
.card__figure {
  width: 32rem;
  margin: 0 0 1.6rem;
}
@media (max-width: 1040px) {
  .card__figure {
    width: 100%;
  }
}
.card__img {
  display: block;
  width: 100%;
}
.card__title {
  word-break: break-all;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}
@media (max-width: 768px) {
  .cards {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.gallery__title {
  margin: 0 0 4rem;
  font-family: var(--font-heading);
  font-size: 2.8rem;
}

.contact__inner {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .contact__inner {
    flex-direction: column;
    gap: 5.6rem;
  }
}
.contact__title {
  font-family: var(--font-heading);
  font-size: 3.6rem;
}
.contact__description {
  width: 100%;
}
.contact__figure {
  width: 40rem;
}
@media (max-width: 768px) {
  .contact__figure {
    width: 32rem;
  }
}
.contact__portrait {
  width: 100%;
  min-width: 40rem;
}
@media (max-width: 768px) {
  .contact__portrait {
    min-width: 32rem;
  }
}
.contact__tools {
  display: flex;
  gap: 2.4rem;
  padding: 3.2rem 0 0;
}
.contact__btn {
  width: 11.2rem;
  padding: 0.8rem 0;
}

.project {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.project__inner {
  display: flex;
  align-items: center;
  gap: 4rem;
}
@media (max-width: 768px) {
  .project__inner {
    flex-direction: column;
    align-items: inherit;
    gap: 5.6rem;
  }
}
.project__title {
  font-family: var(--font-heading);
  font-size: 3.6rem;
  margin: 0 0 2.4rem 0;
}
.project__description {
  width: 100%;
}
.project__figure {
  width: 40rem;
}
@media (max-width: 768px) {
  .project__figure {
    width: 100%;
  }
}
.project__img {
  width: 100%;
  min-width: 40rem;
}
@media (max-width: 768px) {
  .project__img {
    min-width: 100%;
  }
}
.project__links {
  display: flex;
  gap: 2rem;
  margin: 4rem 0 0 0;
}
.project__btn {
  padding: 0.8rem 1.6rem;
}

.preview {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.preview__title {
  font-family: var(--font-heading);
  margin: 0 0 4rem 0;
  font-size: 3.2rem;
}
.preview__video {
  max-width: 104rem;
  width: 100%;
}

.background {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.background__title {
  font-size: 3.2rem;
  font-family: var(--font-heading);
  margin: 0 0 4rem 0;
}

.features {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.features__title {
  font-size: 3.2rem;
  font-family: var(--font-heading);
  margin: 0 0 4rem 0;
}

.tech-stack {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.tech-stack__title {
  font-size: 3.2rem;
  font-family: var(--font-heading);
  margin: 0 0 4rem 0;
}
.tech-stack__category {
  font-weight: bold;
  font-size: 2rem;
}
.tech-stack__category .fa-code,
.tech-stack__category .fa-database,
.tech-stack__category .fa-book-open,
.tech-stack__category .fa-headphones,
.tech-stack__category .fa-rocket {
  margin: 0 0.8rem 0 0;
  color: var(--color-primary-dark);
}
.tech-stack__tool {
  color: var(--color-text-light);
  margin: 0 0 2.4rem 3.4rem;
  font-size: var(--font-size-base);
}
.tech-stack__tool:last-child {
  margin: 0 0 0 3.4rem;
}

.footer {
  background-color: #000;
  color: var(--color-lightest);
  padding: 3.2rem 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  display: block;
  font-size: var(--font-size-sm);
}
.footer .navigation {
  display: block;
}
@media (max-width: 768px) {
  .footer .navigation {
    display: none;
  }
}

.intro {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  transition: transform 1s cubic-bezier(0.77, 0, 0.18, 1);
  background: radial-gradient(circle at center, rgba(155, 131, 184, 0.6) 0%, rgba(155, 131, 184, 0.9) 30%, rgb(155, 131, 184) 100%), #fff;
}
.intro.hide {
  transform: translateY(-100%);
}
.intro__inner {
  position: relative;
}
.intro__tiles {
  position: relative;
  width: 371px;
  height: 383px;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.intro__tiles img {
  position: absolute;
  top: 0;
  width: 61px;
  height: 63px;
  display: block;
  transition: left 0.45s cubic-bezier(0.25, 0.8, 0.25, 1), top 0.45s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.45s cubic-bezier(0.25, 0.8, 0.25, 1);
}/*# sourceMappingURL=style-ja.css.map */