.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--color-lightest);
	transition: 0.3s opacity ease;

	&:hover {
		opacity: 0.8;
	}

	&-primary {
		background-color: var(--color-primary-dark);
	}

	&-github {
		background-color: #000;
	}

	&-menu {
		background-color: transparent;
		border: none;
		display: none;
		cursor: pointer;

		@media (max-width: 768px) {
			display: block;
		}
	}

	&-bar {
		display: block;
		width: 2.4rem;
		height: 0.2rem;
		border-bottom: 0.2rem solid var(--color-text-light);

		&:nth-child(2) {
			margin: 0.6rem 0 0;
		}

		&:nth-child(3) {
			margin: 0.6rem 0 0;
		}
	}
}
