.header {
	padding: 2.4rem 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	@media (max-width: 768px) {
		padding: 1.6rem 0;
		position: relative;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-family: var(--font-heading);
		font-size: 2.4rem;
		font-weight: bold;
	}

	&__menu {
		display: flex;
		gap: 6rem;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 0;
			position: absolute;
			top: 7.14rem;
			left: 0;
			right: 0;
			background: var(--color-lightest);
			clip-path: inset(0 0 100% 0);
			opacity: 0;
			transition:
				clip-path .3s ease,
				opacity .3s ease;

			&.is-open {
				clip-path: inset(0 0 0 0);
				opacity: 1;
			}
		}
	}
}

.language {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	font-size: var(--font-size-sm);
	position: relative;

	@media (max-width: 768px) {
		padding: 1.8rem 2.4rem 1.8rem 0;
		justify-content: end;
	}

	&__link {
		transition: color 0.3s ease;

		&:hover {
			color: var(--color-primary-dark);
		}

		&--active {
			color: var(--color-primary-dark);
			border-bottom: 1px solid var(--color-primary-dark);
		}
	}
}
