.hero {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 5.6rem;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__figure {
		width: 32rem;
	}

	&__portrait {
		width: 100%;
		min-width: 32rem;
	}

	&__introduction {
		width: 100%;
	}

	&__name {
		font-size: 2rem;
		display: block;
		font-weight: bold;
		color: var(--color-text-light);
	}

	&__activity {
		display: block;
		margin: 0.2rem 0 0;
		color: #7a7883;
	}

	&__contact {
		.fa-envelope {
			font-size: 2rem;
			margin: 0 .4rem 0 0;
		}
	}
}
