.tech-stack {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	&__title {
		font-size: 2.8rem;
		font-family: var(--font-heading);
		margin: 0 0 4rem 0;
	}

	&__category {
		font-weight: bold;
		font-size: 2rem;

		.fa-code,
		.fa-database,
		.fa-book-open,
		.fa-headphones,
		.fa-rocket {
			margin: 0 0.8rem 0 0;
			color: var(--color-primary-dark);
		}
	}

	&__tool {
		color: var(--color-text-light);
		margin: .4rem 0 2.4rem 3.4rem;
		font-size: var(--font-size-base);

		&:last-child {
			margin: .4rem 0 0 3.4rem;
		}
	}
}
